*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.wrapper{
    height: 100vh;
    background-color: white;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: 15% auto 15%;
    grid-template-areas:
        "header header"
        "nav content"
        "footer footer"
    ;
    gap: 5px;
}

header{
    grid-area: header;
    background-color: black;
    color: white;
    padding: 20px;
}

nav{
    grid-area: nav;
    background-color: gray;
    color: white;
    padding: 20px;
}

article{
    grid-area: content;
    background-color: lightgray;
    color: black;
    padding: 20px;
}

footer{
    grid-area: footer;
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 20px;
}