.footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    font-weight: 100;
    font-size: 0.9rem;
    background-color: transparent;
    color: #000000;
}

.footer a{
    color: #000000;
}

.footer a:hover{
    color: rgb(227,94,107);
}