h1 {
    color: white;
    text-shadow: 1px 2px 3px rgb(3, 3, 3);
    text-align: center;
    font-size: 45x;
    font-family: 'Courier New', Courier, monospace;
}

.modulo01 h2 {
    background-color: rgb(33, 66, 99);
    padding: 9px;
    margin: 3px;
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.modulo01 nav {
    padding: 30px;
}

.modulo01 a {
    color: #ffffff;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    cursor: pointer;
}

.modulo01 a:hover {
    color: #ff7300;
}

.modulo02 h2 {
    background-color: rgb(33, 66, 99);
    padding: 9px;
    margin: 3px;
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.modulo02 nav {
    padding: 30px;
}

.modulo02 a {
    color: #ffffff;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    cursor: pointer;
}

.modulo02 a:hover {
    color: #ff7300;
}