.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
}

.principal .navbar ul{
    display: flex;
    gap: 30px;
}

.navbar li a{
    color: #000000;
}

.navbar li a:hover{
    color: #ff0000;
}

.principal .header{
    width: 100%;
    height: 3rem;
    text-align: center;
    padding: 30px;
}

.conteudo{
    max-height: 100%;
    max-width: 60rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.conteudo p{
    padding-top: 15px;
    font-size: 0.9rem;
}

.conteudo .images{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 9px;
}

.conteudo img{
    padding-top: 15px;
    width: 4.5rem;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 0.6rem;
}

footer .img-footer{
    padding-top: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}

footer img{
    width: 1.2rem;
}

footer a{
    color: #000000;
}

footer a:hover{
    color: #ff0000;
}