*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: beige;
}

.titulo{
    padding: 18px;
    margin: 18px;
}

.sub-titulo{
    padding: 18px;
    margin: 18px;
    text-align: center;
    background: #000000;
    color: #ffffff;
    box-shadow: 3px 3px 3px #1a1919;
}

p{
    display: flex;
    padding: 18px;
    margin: 18px;
    align-items: center;
    text-indent: 2%;
    width: 90%;
    height: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    border: 1px solid #000000;
    box-shadow: 3px 3px 3px #1a1919;
    background: rgb(197, 197, 185);
}

a{
    margin: 3px;
    text-decoration: none;
    text-align: center;
    background: rgba(199, 82, 199, 0.384);
    color: white;
    text-shadow: 1px 1px 1px #000000;
    box-shadow: 3px 3px 3px #000000;
}

a:hover{
    background: #000000;
    color: orangered;
}

.text-box{
    display: flex;
    padding: 18px;
    margin: 18px;
    align-items: center;
    text-indent: 2%;
    width: 90%;
    height: 90%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    border: 1px solid #000000;
    box-shadow: 3px 3px 3px #1a1919;
    background: rgb(197, 197, 185);
}