.header{
    display: flex;
    align-items: center;
}

.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo{
    width: 2.1rem;
    box-shadow: 3px 3px 3px #ff0000;
}

.header .title-group{
    padding-left: 15px;
}

.header .title-group i{
    padding-right: 6px;
}